{% extends  'website/base.html' %}
{% load static %}
{% block content %}
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>dashboard</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li aria-current="page" class="breadcrumb-item active">dashboard</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<section class="dashboard-section section-b-space user-dashboard-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                {% include 'client/include/dashboard_navbar.html' %}
            </div>
            <div class="col-lg-9">
                <div class="faq-content tab-content" id="top-tabContent">
                    <div class="tab-pane fade" id="info">
                        <div class="counter-section">
                            <div class="welcome-msg">
                                <h4>Hello, MARK JECNO !</h4>
                                <p>From your My Account Dashboard you have the ability to view a snapshot of your
                                    recent
                                    account activity and update your account information. Select a link below to
                                    view or
                                    edit information.</p>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="counter-box">
                                        <img class="img-fluid" src="../assets/images/icon/dashboard/sale.png">
                                        <div>
                                            <h3>25</h3>
                                            <h5>Total Order</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="counter-box">
                                        <img class="img-fluid" src="../assets/images/icon/dashboard/homework.png">
                                        <div>
                                            <h3>5</h3>
                                            <h5>Pending Orders</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="counter-box">
                                        <img class="img-fluid" src="../assets/images/icon/dashboard/order.png">
                                        <div>
                                            <h3>50</h3>
                                            <h5>Wishlist</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-account box-info">
                                <div class="box-head">
                                    <h4>Account Information</h4>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="box">
                                            <div class="box-title">
                                                <h3>Contact Information</h3><a href="#">Edit</a>
                                            </div>
                                            <div class="box-content">
                                                <h6>Mark Jecno</h6>
                                                <h6>mark-jecno@gmail.com</h6>
                                                <h6><a href="#">Change Password</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="box">
                                            <div class="box-title">
                                                <h3>Newsletters</h3><a href="#">Edit</a>
                                            </div>
                                            <div class="box-content">
                                                <p>You are currently not subscribed to any newsletter.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box mt-3">
                                    <div class="box-title">
                                        <h3 class="text-white">Order Addresses</h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h6>Default Billing Address</h6>
                                            <address>You have not set a default billing address.<br><a href="#">Edit
                                                Address</a></address>
                                        </div>
                                        <div class="col-sm-6">
                                            <h6>Default Shipping Address</h6>
                                            <address>You have not set a default shipping address.<br><a href="#">Edit
                                                Address</a></address>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade active show" id="address">
                        <div class="row">
                            <div class="col-12">
                                <div class="card mt-0">
                                    <div class="card-body">
                                        <div class="top-sec text-white ">
                                            <h3 class="text-white">Order Addresses</h3>
                                        </div>
                                        <div class="address-book-section">
                                            <div class="row g-4">
                                                {% for order in object_list %}
                                                <div class="select-box active col-xl-4 col-md-6">
                                                    <div class="address-box">
                                                        <div class="top">
                                                            <h6>{{order.name}} <span></span></h6>
                                                        </div>
                                                        <div class="middle">
                                                            <div class="address">
                                                                <p>Country : {{order.country}}</p>
                                                                <p>City : {{order.city}}</p>
                                                                <p>Street Address : {{order.street_address}}</p>
                                                                <p>Postal Code : {{order.postal_code}}</p>

                                                            </div>
                                                            <div class="number">
                                                                <p>mobile: <span>{{order.phone}}</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
