six
Faker
pillow
markdown
python-dateutil


django
django-environ
django-filter
django-allauth
django-resized
python-decouple
django-ckeditor
django-crispy-forms
django-bootstrap5
crispy-bootstrap5
django-tinymce

django-browser-reload
