{% extends  'website/base.html' %}
{% load static %}

{% block content %}
<style>
.checked {
  color: orange;
}




</style>
<style>
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

</style>


<div class=" effect-cls">
    {% if slider %}
    {% for slider in slider %}
    <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="{{slider.image.url}}" style="height:550px;width:100%">
        <div class="text"></div>
    </div>
    {% endfor %}
    {% else %}
    <div class="mySlides fade">
        <div class="numbertext"></div>
        <img src="{% static 'website/bg/slider2.jpg' %}" style="height:550px;width:100%">
        <div class="text"></div>
    </div>
    {% endif %}

</div>
<br>

<div style="text-align:center">
    {% for slider in slider %}
    <span class="dot"></span>
    {% endfor %}
</div>


<!-- Home slider -->
<!-- Home slider end -->


<!-- category section -->
<section class="pb-0  banner-text-white ratio_45">
    <div class="container">
        <div class="row partition2">
            <div class="col-md-12">
                <a href="#">
                    <div class="collection-banner p-left text-start">
                        <div class="img">
                            {% if banner %}
                            <img src="{{banner.image.url}}" style="height:350px;width:100%">

                            {% else %}
                            <img alt=""
                                 class=" blur-up lazyload"
                                 src="{% static 'website/images/bgg.jpg' %}">
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- category section end -->


<!-- Paragraph-->
<div class="title1  section-t-space">
    <h2 class="title-inner1">Now Available</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="product-para">
            </div>
        </div>
    </div>
</div>
<!-- Paragraph end -->


<!-- Product slider -->
<section class="game-product pt-0 ratio_asos">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="product-slider-5 product-m no-arrow">
                    {% for top in new_products %}
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="{% url 'website:product-detail' top.slug %}"><img
                                        alt=""
                                        class="img-fluid bg-img blur-up lazyload"
                                        src="{{top.thumbnail_image.url}}"></a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <a href="javascript:void(0)" title="Add to Wishlist"><i aria-hidden="true"
                                                                                        class="ti-heart"></i></a>

                            </div>
                            <div class="add-button" data-bs-target="#addtocart" data-bs-toggle="modal"><a
                                    href="{% url 'website:product-detail' top.slug %}"> View</a>

                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <a href="#">
                                <h6>{{top.name}}</h6>
                            </a>
                            <h6>{% for price in top.product_version.all %}
                                ${{price.price}}
                                &nbsp;&nbsp;&nbsp;
                                {% endfor %}</h6>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product slider end -->


<!-- Paragraph-->
<div class="title1  section-t-space">
    <h2 class="title-inner1">Latest Blogs</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="product-para">
            </div>
        </div>
    </div>
</div>
<!-- Paragraph end -->


<!-- Product slider -->
<section class="game-product pt-0 ratio_asos">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="product-slider-5 product-m no-arrow">
                    {% for top in blogs %}
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a class="bg-size blur-up lazyloaded" href="{% url 'website:post-detail' top.slug %}"
                                   style="background-image: url({{top.thumbnail_image.url}}); background-size: cover; background-position: center center; display: block;"><img
                                        alt="" class="img-fluid blur-up bg-img lazyloaded"
                                        src="{{top.thumbnail_image.url}}" style="display: none;"></a>

                            </div>
                        </div>
                        <div class="product-detail">
                            <a href="#">
                                <h6>{{top.title}}</h6>
                                <span>{{top.created_on}}</span>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product slider end -->


<!-- Parallax section start -->
<section class="p-0 game-parallax effect-cls ">
    <div class="full-banner parallax text-center p-center text-center">
        <img alt="" class="bg-img blur-up lazyload" src="{% static 'website/bg/image1.png' %}">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="banner-contain">
                        <h2>2023</h2>
                        <h3>Light Novel and Manga Releases</h3>
                        <h4>releases</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Parallax section end -->


<!-- Paragraph-->
<div class="title1  section-t-space">
    <h4>releases</h4>
    <h2 class="title-inner1">Top Selling Series</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="product-para">
            </div>
        </div>
    </div>
</div>
<!-- Paragraph end -->


<!-- Product slider -->
<section class="game-product pt-0 ratio_asos">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="product-slider-5 product-m no-arrow">
                    {% for top in top %}
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="{% url 'website:product-detail' top.slug %}"><img
                                        alt=""
                                        class="img-fluid bg-img blur-up lazyload"
                                        src="{{top.thumbnail_image.url}}"></a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <a href="javascript:void(0)" title="Add to Wishlist"><i aria-hidden="true"
                                                                                        class="ti-heart"></i></a>

                            </div>
                            <div class="add-button" data-bs-target="#addtocart" data-bs-toggle="modal"><a
                                    href="{% url 'website:product-detail' top.slug %}"> View</a>

                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <a href="#">
                                <h6>{{top.name}}</h6>
                            </a>
                            <h6>{% for price in top.product_version.all %}
                                ${{price.price}}
                                &nbsp;&nbsp;&nbsp;
                                {% endfor %}</h6>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product slider end -->

<div class="title1  section-t-space">
    <h2 class="title-inner1">Digital Platforms</h2>
</div>
<!--  logo section -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="slide-6 no-arrow">
                    <div>
                        <div class="logo-block">
                            <a href="#">
                                <img alt="" height="100px" src="{% static 'website/images/home/Amazon-Kindle-logo.png' %}">
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="logo-block">
                            <a href="#">
                                <img alt="" height="90px" src="{% static 'website/images/home/Apple Books.jpg' %}">
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="logo-block">
                            <a href="#">
                                <img alt="" height="90px" src="{% static 'website/images/home/bookwalker.png' %}">
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="logo-block mx-5">
                            <a href="#">
                                <img alt="" height="75px" src="{% static 'website/images/home/Google-Play-Books-logo.png' %}">
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="logo-block mx-5">
                            <a href="#">
                                <img alt="" height="80px"  src="{% static 'website/images/home/Kobo-logo.jpg' %}">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--  logo section end-->

<script>
let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}

</script>
{% endblock %}
