{% extends  'website/base.html' %}
{% load static %}

{% block content %}
<style>
.checked {
  color: orange;
}


h2{
  text-align:center;
  padding: 20px;
}
/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}



</style>


<div class="splide" id="splide">
    <div class="splide__track">
        <ul class="splide__list">
            {% for slide in slider %}
            <li class="splide__slide">
                {% if slider.link %}
                <a href="{{slide.link}}"><img alt="Slide" height="100%" src="{{slide.image.url}}"></a>
                {% else %}
                <a href="#"><img alt="Slide" height="600px" width="100%" src="{{slide.image.url}}"></a>
                {% endif %}

            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<!-- Home slider -->
<!-- Home slider end -->


<!-- category section -->
<section class="pb-0  banner-text-white ratio_45">
    <div class="container">
        <div class="row partition2">
            <div class="col-md-12">
                <a href="#">
                    <div class="collection-banner p-left text-start">
                        <div class="img">
                            {% if banner %}
                            <img src="{{banner.image.url}}" style="height:230px;width:100%">

                            {% else %}
                            <img alt=""
                                 class=" blur-up lazyload"
                                 src="{% static 'website/images/bgg.jpg' %}">
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- category section end -->


<!-- Paragraph-->
<div class="title1  section-t-space">
    <h2 class="title-inner1">Now Available</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="product-para">
            </div>
        </div>
    </div>
</div>
<!-- Paragraph end -->

<!-- Product slider -->
<section class="game-product pt-0 ratio_asos">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="product-slider-5 product-m no-arrow">
                    {% for top in new_products %}
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="{% url 'website:product-detail' top.slug %}"><img
                                        alt=""
                                        class="img-fluid bg-img blur-up lazyload"
                                        src="{{top.thumbnail_image.url}}"></a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <a href="javascript:void(0)" title="Add to Wishlist"><i aria-hidden="true"
                                                                                        class="ti-heart"></i></a>

                            </div>
                            <div class="add-button" data-bs-target="#addtocart" data-bs-toggle="modal"><a
                                    href="{% url 'website:product-detail' top.slug %}"> View</a>

                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <a href="#">
                                <h6>{{top.name}}</h6>
                            </a>
                            <h6>{% for price in top.product_version.all %}
                                ${{price.price}}
                                &nbsp;&nbsp;&nbsp;
                                {% endfor %}</h6>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product slider end -->


<!-- Paragraph-->
<div class="title1  section-t-space">
    <h2 class="title-inner1">Latest Blogs</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="product-para">
            </div>
        </div>
    </div>
</div>
<!-- Paragraph end -->


<!-- Product slider -->
<section class="game-product pt-0 ratio_asos">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="product-slider-5 product-m no-arrow">
                    {% for top in blogs %}
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a class="bg-size blur-up lazyloaded" href="{% url 'website:post-detail' top.slug %}"
                                   style="background-image: url({{top.thumbnail_image.url}}); background-size: cover; background-position: center center; display: block;"><img
                                        alt="" class="img-fluid blur-up bg-img lazyloaded"
                                        src="{{top.thumbnail_image.url}}" style="display: none;"></a>

                            </div>
                        </div>
                        <div class="product-detail">
                            <a href="#">
                                <h6>{{top.title}}</h6>
                                <span>{{top.created_on}}</span>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product slider end -->


<!-- Parallax section start -->
<section class="p-0 game-parallax effect-cls ">
    <div class="full-banner parallax text-center p-center text-center">
        <img alt="" class="bg-img blur-up lazyload" src="{% static 'website/bg/image1.png' %}">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="banner-contain">
                        <h2>2023</h2>
                        <h3>Light Novel and Mangas </h3>
                        <h4>releases</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Parallax section end -->


<!-- Paragraph-->
<div class="title1  section-t-space">
    <h4>releases</h4>
    <h2 class="title-inner1">Top Selling Series</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="product-para">
            </div>
        </div>
    </div>
</div>
<!-- Paragraph end -->


<!-- Product slider -->
<section class="game-product pt-0 ratio_asos">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="product-slider-5 product-m no-arrow">
                    {% for top in top %}
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="{% url 'website:product-detail' top.slug %}"><img
                                        alt=""
                                        class="img-fluid bg-img blur-up lazyload"
                                        src="{{top.thumbnail_image.url}}"></a>
                            </div>
                            <div class="cart-info cart-wrap">
                                <a href="javascript:void(0)" title="Add to Wishlist"><i aria-hidden="true"
                                                                                        class="ti-heart"></i></a>

                            </div>
                            <div class="add-button" data-bs-target="#addtocart" data-bs-toggle="modal"><a
                                    href="{% url 'website:product-detail' top.slug %}"> View</a>

                            </div>
                        </div>
                        <div class="product-detail">
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <a href="#">
                                <h6>{{top.name}}</h6>
                            </a>
                            <h6>{% for price in top.product_version.all %}
                                ${{price.price}}
                                &nbsp;&nbsp;&nbsp;
                                {% endfor %}</h6>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product slider end -->

<div class="title1  section-t-space">
    <h2 class="title-inner1">Digital Platforms</h2>
</div>
<!--  logo section -->
{% if digital_platform %}

<div class="container">
    <section class="customer-logos slider">
        <div class="slide"><a href="#"><img src="{% static 'website/images/home/Kobo-logo.jpg' %}"
                                            style="height:150px;width:150px;"></a></div>


    </section>
</div>
{% else %}
<div class="row justify-content-center">
    <div class="col-12-sm">
        <h3 class="text-danger text-center">Not have any Digital Platform</h3>

    </div>

</div>
{% endif %}

<!--  logo section end-->
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<script src=" https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js "></script>
<script src=" https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.5.3/dist/js/splide-extension-auto-scroll.min.js "></script>
<link href=" https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css " rel="stylesheet">
<script>
let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}



</script>

<script>
var splide = new Splide( '.splide', {
  type   : 'loop',
  padding: '5rem',
    autoplay: true,

} );

splide.mount();


</script>

<script>
    $(document).ready(function(){
    $('.customer-logos').slick({
        slidesToShow: 6,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 1500,
        arrows: false,
        dots: false,
        pauseOnHover: false,
        responsive: [{
            breakpoint: 768,
            settings: {
                slidesToShow: 4
            }
        }, {
            breakpoint: 520,
            settings: {
                slidesToShow: 3
            }
        }]
    });
});

</script>

{% endblock %}
