{% extends  'website/base.html' %}
{% load static %}
{% block content %}
<style>
.checked {
  color: orange;
}
</style>
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>product</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li aria-current="page" class="breadcrumb-item active">product</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                    <div class="col-lg-5">
                        <div class="product-slick">

                            <div><img src="{{object.thumbnail_image.url}}" width="" height="550px" alt=""
                                    ></div>
                            {% for object in object.product_image.all %}
                            <div><img src="{{object.image.url}}" alt=""
                                    width="fixed" height="550px"></div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-10 p-0">
                                <div class="slider-nav">

                                    <div><img src="{{object.thumbnail_image.url}}" alt=""
                                            class="img-fluid"></div>
                                                                {% for object in object.product_image.all %}

                                    <div><img src="{{object.image.url}}" alt=""
                                            class="img-fluid" ></div>
                                                                {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                <div class="col-lg-7 rtl-text">
                    <div class="product-right">
                        <h2>{{object.name}}</h2>
                 <div class="row" id="version_detail" style="display:none">
    {% for version in object.get_versions %}
    <div class="col-sm-6">
        <h4 class="price-detail">{{version.version.name}} Version </h4>
        <hr>
        <h4 class="price-detail"> Price : ${{version.price}}</h4>
        <h4 class="price-detail"> ISBN : ${{version.isbn}}</h4><br><br>
        <input type="hidden" name="version_id" value="{{version.id}}">
    </div>
    {% endfor %}
</div>

                        <h4>Version</h4>
                        <form action="{% url 'website:add-to-cart' %}" method="post">
                            {% csrf_token %}
                            <input name="product_id" type="hidden" value="{{object.id}}">
                            <select class="form-select mb-4 mt-3" id="dropdown" name="version_id"
                                    onchange="enableButton()">
                                <option selected value="default">Choose an Option</option>
                                {% for version in object.get_versions %}
                                <option value="{{version.id}}">{{version.version.name}}</option>
                                {% endfor %}
                            </select>

                            <div class="product-buttons">
                                <button class="btn btn-solid hover-solid btn-animation" disabled id="seedoc"
                                        type="submit">
                                    <i aria-hidden="true" class="fa fa-shopping-cart me-1"></i> add to cart
                                </button>
                        </form>

                        <a
                                class="btn btn-solid"
                                href="{% url 'client:wishlist-create' object.id %}"><i
                                aria-hidden="true" class="fa fa-bookmark fz-16 me-2"></i>wishlist</a>
                        {% if object.book_file %}
                        <a
                                class="btn btn-solid"
                                href="{% url 'website:read_sample' object.id %}" target="_blank"><i
                                aria-hidden="true" class="fa fa-book fz-16 me-2"></i>Read Sample</a>
                        {% endif %}
                    </div>


                    <div class="product-count">
                        <ul>
                            <li>
                                <img alt="image" class="img-fluid" src="{% static 'website/images/icon/truck.png' %}">
                                <span class="lang">Free shipping for orders above $500 USD</span>
                            </li>
                        </ul>
                    </div>
                    <div class="border-product">
                        <h6 class="product-title">shipping info</h6>
                        <ul class="shipping-info">
                            <li>100% Original Products</li>
                            <li>Free Delivery on order above Rs. 799</li>
                            <li>Pay on delivery is available</li>
                            <li>Easy 30 days returns and exchanges</li>
                        </ul>
                    </div>
                    <div class="border-product">
                        <h6 class="product-title">share it</h6>
                        <div class="product-icon">
                            <ul class="product-social">
                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="border-product">
                        <h6 class="product-title">100% secure payment</h6>
                        <img alt="" class="img-fluid mt-1" src="{% static 'website/images/payment.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="tab-product m-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                    <li class="nav-item"><a aria-selected="true" class="nav-link active" data-bs-toggle="tab"
                                            href="#top-home" id="top-home-tab" role="tab"><i
                            class="icofont icofont-ui-home"></i>Details</a>
                        <div class="material-border"></div>
                    </li>
                </ul>
                <div class="tab-content nav-material" id="top-tabContent">
                    <div aria-labelledby="top-home-tab" class="tab-pane fade show active" id="top-home" role="tabpanel">
                        <div class="product-tab-discription">
                       {{object.description}}
                        </div>
                                                <div class="single-product-tables">
                            <table>
                                <tbody>
                                <tr>
                                    <td>Artist</td>
                                    <td>{{object.artist}}</td>
                                </tr>
                                <tr>
                                    <td>Author</td>
                                    <td>{{object.author}}</td>
                                </tr>
                                <tr>
                                    <td>Translator</td>
                                    <td>{{object.translator}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <table>
                                <tbody>
                                <tr>
                                    <td>Editor</td>
                                    <td>{{object.illustrator}}</td>
                                </tr>
                                <tr>
                                    <td>Book Type</td>
                                    <td>{{object.book_type}}</td>
                                </tr>
                                <tr>
                                    <td>Book Pages</td>
                                    <td>{{object.pages}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <table>
                                <tbody>
                                <tr>
                                    <td>Genres</td>
                                    {% for category in object.categories.all %}
                                    <td class="text-white">{{category.name}}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>Languages</td>
                                    {% for language in object.languages.all %}

                                    <td>{{language.name}}</td>
                                    {% endfor %}
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-b-space ratio_asos">
        <div class="container">
            <div class="row">
                <div class="col-12 product-related">
                    <h2>related products</h2>
                </div>
            </div>
            <div class="row search-product">
                {% if related_product %}
                {% for product in related_product %}
                                                                <div class="col-xl-2 col-4 col-grid-box">
                                                    <div class="product-box">
                                                        <div class="img-wrapper">
                                                            <div class="front">
                                                                <a href="#"><img alt=""
                                                                                 class="img-fluid blur-up lazyload bg-img"
                                                                                 src="{{product.thumbnail_image.url}}"></a>
                                                            </div>
                                                            <div class="back">
                                                                <a href="#"><img alt=""
                                                                                 class="img-fluid blur-up lazyload bg-img"
                                                                                 src="{{product.thumbnail_image.url}}"></a>
                                                            </div>
                                                        </div>
                                                        <div class="product-detail">
                                                            <div>

                                                                <a href="{% url 'website:product-detail' product.slug %}">
                                                                    <h6 class="text-center">comic Title</h6>
                                                                </a>
                                                                <div class="text-center">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>

                                        </div>
                                        <h6 class="text-center">{% for price in product.product_version.all %}
                                            ${{price.price}}
                                            &nbsp;&nbsp;&nbsp;
                                            {% endfor %}</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                {% endfor %}
                {% else %}
                <h3 class="text-danger">Related Items Not Found</h3>
                {% endif %}
            </div>
        </div>
    </section>
<script>
function enableButton() {
  var selectelem = document.getElementById('dropdown');
  var versionDetail = document.getElementById('version_detail');
  var btnelem = document.getElementById('seedoc');
  if (selectelem.value === "default") {
    btnelem.disabled = true;
    versionDetail.style.display = 'none';
  } else {
    btnelem.disabled = false;
    versionDetail.style.display = 'block';
    // Update the version detail section with the selected version's details
    var selectedVersionId = selectelem.value;
    var versionDetails = document.querySelectorAll('#version_detail .col-sm-6');
    versionDetails.forEach(function(detail) {
    console.log('hello')
      var versionId = detail.querySelector('input[name="version_id"]').value;
      if (versionId == selectedVersionId) {
        detail.style.display = 'block';
      } else {
        detail.style.display = 'none';
      }
    });
  }
}



</script>
{% endblock content %}