{% load static %}

<header class="header-tools header-style">
    <div class="mobile-fix-option"></div>
    <div class="logo-menu-part">
        <div class="container border-bottom-0 rounded-5">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-menu">
                        <div class="menu-left">
                            <div class="brand-logo">
                                <a href="/">
                                    <img src="{% static 'website/logo/logo.png' %}" height="50" class="blur-up lazyload"
                                         alt=""></a>
                            </div>
                        </div>
                        <div class="menu-right pull-right">
                            <div>
                                <nav id="main-nav">
                                    <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                                    <ul id="main-menu" class="sm pixelstrap sm-horizontal">
                                        <li>
                                            <div class="mobile-back text-end">Back<i class="fa fa-angle-right ps-2"
                                                                                     aria-hidden="true"></i></div>
                                        </li>
                                        <li><a href="{% url 'website:home' %}">Home</a></li>
                                        <li><a href="{% url 'website:store' %}">Store</a></li>
                                        <li><a href="#">product</a></li>
                                        <li><a href="#">pages</a></li>
                                        <li><a href="#">blog</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="top-header">
                                <ul class="header-dropdown">
                                    <li class="mobile-wishlist">
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                    </li>
                                    <li class="onhover-dropdown mobile-account">
                                        <i class="fa fa-user"></i>
                                        <ul class="onhover-show-div">
                                            {% if request.user.is_authenticated %}
                                                <li>
                                                    <a href="{% url 'admins:dashboard' %}" data-lng="en">
                                                        Dashboard
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>
                                                <a href="{% url 'account_login' %}" data-lng="en">
                                                    Login
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'account_signup' %}" data-lng="es">
                                                    Register
                                                </a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <div class="icon-nav">
                                    <ul>
                                        <li class="onhover-div mobile-search">
                                            <div><img src="{% static 'website/icons/search.png' %}"
                                                      onclick="openSearch()"
                                                      class="img-fluid blur-up lazyload" alt="">
                                                <i class="ti-search" onclick="openSearch()"></i>
                                            </div>
                                            <div id="search-overlay" class="search-overlay">
                                                <div>
                                                    <span class="closebtn" onclick="closeSearch()"
                                                          title="Close Overlay">×</span>
                                                    <div class="overlay-content">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-xl-12">
                                                                    <form>
                                                                        <div class="form-group">
                                                                            <input type="text" class="form-control"
                                                                                   id="exampleInputPassword1"
                                                                                   placeholder="Search a Product">
                                                                        </div>
                                                                        <button type="submit"
                                                                                class="btn btn-primary"><i
                                                                                class="fa fa-search"></i></button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        {# SETTINGS ICON #}
                                        <li class="onhover-div mobile-setting">
                                            <div><img src="{% static 'website/icons/setting.png' %}"
                                                      class="img-fluid blur-up lazyload" alt="">
                                                <i class="ti-settings"></i>
                                            </div>
                                            <div class="show-div setting">
                                                <h6>language</h6>
                                                <ul>
                                                    <li><a href="#">english</a></li>
                                                    <li><a href="#">french</a></li>
                                                </ul>
                                                <h6>currency</h6>
                                                <ul class="list-inline">
                                                    <li><a href="#">euro</a></li>
                                                    <li><a href="#">rupees</a></li>
                                                    <li><a href="#">pound</a></li>
                                                    <li><a href="#">doller</a></li>
                                                </ul>
                                            </div>
                                        </li>

                                        {# CART ICON AREA #}
                                        <li class="onhover-div mobile-cart">
                                            <div>
                                                <img src="{% static 'website/icons/cart.png' %}"
                                                     class="img-fluid blur-up lazyload" alt="">
                                                <i class="ti-shopping-cart"></i>
                                            </div>
                                            <ul class="show-div shopping-cart">
                                                <li>
                                                    <div class="media">
                                                        <a href="#"><img alt="" class="me-3"
                                                                         src="{% static 'website/img/1.jpg' %}"></a>
                                                        <div class="media-body">
                                                            <a href="#">
                                                                <h4>item name</h4>
                                                            </a>
                                                            <h4><span>1 x $ 299.00</span></h4>
                                                        </div>
                                                    </div>
                                                    <div class="close-circle">
                                                        <a href="#"><i class="fa fa-times"
                                                                       aria-hidden="true"></i></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="media">
                                                        <a href="#"><img alt="" class="me-3"
                                                                         src="{% static 'website/img/2.jpg' %}"></a>
                                                        <div class="media-body">
                                                            <a href="#">
                                                                <h4>item name</h4>
                                                            </a>
                                                            <h4><span>1 x $ 299.00</span></h4>
                                                        </div>
                                                    </div>
                                                    <div class="close-circle">
                                                        <a href="#"><i class="fa fa-times"
                                                                       aria-hidden="true"></i></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="total">
                                                        <h5>subtotal : <span>$299.00</span></h5>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="buttons">
                                                        <a href="cart.html" class="view-cart">view cart</a>
                                                        <a href="#" class="checkout">checkout</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>