{% load static %}

<li class="nav-item ">
    <a class="nav-link" href="#">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <i class="fa fa-home"></i>
                                    </span>
        <span class="nav-link-title">
                                        Dashboard
                                    </span>
    </a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       data-bs-toggle="dropdown"
       data-bs-auto-close="outside" role="button" aria-expanded="false">
        <i class="fa fa-sort"></i>
        <span class="nav-link-title">
            Management
        </span>
    </a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Positions</a>
    </div>
</li>